/* Custom Theme: modifies the default theme have a darker palette and changes the fonts. */

@import url("https://fonts.googleapis.com/css?family=Gothic+A1|Archivo+Black|Source+Code+Pro|Bitter:300,400,500,700");

/* See https://getbootstrap.com/docs/5.2/customize/css-variables/#root-variables for variables to override. */
:root {
  --tf-accent: #E98A15;
  --tf-accent-2: #789576;
  --tf-green-1: #00524B;
  --tf-green-2: #012622;
  --bs-font-sans-serif: "Bitter", sans-serif;
  --bs-link-color: var(--tf-accent);
  --tf-pill-bg: var(--tf-green-2);
  --tf-icon-fill: var(--tf-accent-2);
  --tf-page-bg-color: var(--tf-green-2);
  --tf-footer-bg-color: var(--tf-green-2);
  --tf-navbar-bg-color: var(--tf-green-2);
  --tf-projects-bg-color: var(--tf-green-1);
}

h1 {
 font-family: archivo-black; 
  color: white;
}

/* Format social media icons */
.tf-social {
  display: inline-block;
  fill: var(--tf-icon-fill);
  height: 1.5em;
  vertical-align: -.1em;
  width: 1.5em;
}

a {
  text-decoration: none;
}

/* Simplify the styling of the bottom of Essay cards. */
.card-footer {
  background-color: var(--bs-white);
  border-top: none;
}
